<div class="max-w-4xl mx-auto mt-10">
  <div class="rounded-2xl bg-white text-gray-900 shadow p-6 space-y-6">
    <h1 class="text-xl font-semibold"><%= t(".title") %></h1>
    <%# 共通エラーメッセージ%>
    <%= render "shared/error_messages", object: @sentence %>
    <%# 文章登録フォーム%>
    <%= form_with model: @sentence, url: sentences_path, local: true do |f| %>
      <div>
        <%= f.label :body, class: "block text-sm mb-1" %>
        <%= f.text_area :body, rows: 5, class: "w-full rounded-xl border px-3 py-2" %>
      </div>

      <div>
        <%= f.label :sentence_category, class: "block text-sm mb-1" %>
        <%= f.select :sentence_category,
              Sentence.sentence_categories.keys.map { |k| [I18n.t("enums.sentence.sentence_category.#{k}"), k] },
              {}, class: "w-full rounded-xl border px-3 py-2" %>
      </div>

      <%# タグ（モーダル選択方式） %>
      <div class="pt-3">
        <% tags = SentenceTag.where(user: current_user).order(:name) %>
        <% selected_ids = Array(@sentence.sentence_tag_ids).map(&:to_s) %>

        <label class="block text-sm mb-1"><%= t("common.tag") %></label>
        <button type="button"
                onclick="document.getElementById('sentenceTagPickerNew').showModal()"
                class="rounded-xl border px-3 py-2 w-full text-left hover:bg-gray-100">
          <%= t("common.choice_tag") %>
        </button>
        <% tags = SentenceTag.where(user: current_user).order(:name) %>
        <% selected_ids = Array(@sentence.sentence_tag_ids).map(&:to_s) %>
        <% sorted_tags = tags.sort_by { |t| selected_ids.include?(t.id.to_s) ? 0 : 1 } %>

        <%= render "shared/tag_picker",
            id: "sentenceTagPickerNew",
            field_name: "sentence[sentence_tag_ids][]",
            tags: sorted_tags,
            selected_ids: selected_ids,
            title: t("common.choice_tag") %>
            
      </div>
      <%# 作成ボタン %>
      <div class="pt-2">
        <%= f.submit t("common.submit"), class: "w-full rounded-xl bg-green-600 text-white py-2 hover:bg-green-700 hover:shadow-lg
              active:translate-y-0.5
              transition duration-150" %>
      </div>
    <% end %>
  </div>
  <%= link_to t("common.return"), top_path, class: "ml-2 underline" %> 
</div>
