<div data-controller="edit-toggle">
  <div class="flex items-center justify-between">
    <h1 class="text-xl font-semibold"><%= t(".title") %></h1>
      <label class="flex items-center gap-2 text-base">
      <input type="checkbox" data-action="edit-toggle#toggle"> <%= t(".edit") %>
    </label>
  </div>

  <%= render "shared/error_messages", object: @sentence %>

  <%= form_with model: @sentence, url: sentence_path(@sentence), method: :patch, local: true, data: { "edit-toggle-target": "form" } do |f| %>
    <div class="rounded-2xl bg-white text-gray-900 shadow p-6 space-y-4" data-edit-toggle-target="container">
      <div>
        <%= f.label :body, class: "block text-sm mb-1" %>
        <%= f.text_area :body, rows: 5, class: "w-full rounded-xl border px-3 py-2",
              data: { "edit-toggle-target": "field" }, disabled: true %>
      </div>
      
      <div>
        <%= f.label :sentence_category, class: "block text-sm mb-1" %>
        <%= f.select :sentence_category,
              Sentence.sentence_categories.keys.map { |k| [t("enums.sentence.sentence_category.#{k}"), k] },
              {}, class: "w-1/8 rounded-xl border px-3 py-2",
              data: { "edit-toggle-target": "field" }, disabled: true %>
      </div>

      <%# タグ表示 %>
      <% if @sentence.sentence_tags.any? %>
        <div class="mt-3 flex flex-wrap gap-2">
          <% @sentence.sentence_tags.order(:name).each do |tag| %>
            <%= link_to tag.name,
                sentences_path(q: { sentence_tags_id_in: [tag.id] }),
                class: "px-2 py-1 rounded-full border text-xs hover:opacity-80",
                style: "background-color: #{tag.color.presence || '#000'}; color: #fff;" %>
          <% end %>
        </div>
      <% end %>
      
      <%# 編集チェック時に出現する削除、変更ボタン %>
      <div class="flex items-center gap-3 min-h-[44px] invisible" data-edit-toggle-target="submit">
        <%= link_to t("sentences.destroy.button"),
              sentence_path(@sentence),
              data: { "turbo-method": :delete, "turbo-confirm": t("activerecord.attributes.form.confirm") },
              class: "rounded-xl bg-red-600 text-white px-5 py-2 hover:bg-red-700 hover:shadow-lg active:translate-y-0.5 transition duration-150" %>

        <%= f.submit t("sentences.update.submit"),
              class: "rounded-xl bg-blue-600 text-white px-5 py-2 hover:bg-blue-700 hover:shadow-lg
              active:translate-y-0.5
              transition duration-150" %>
      </div>
    </div>
  <% end %>
</div>
