<header class="sticky top-0 z-50 shadow mb-4" style="background-color:#A8C0B0;">
  <div class="container mx-auto flex justify-between items-center py-3 px-4">
    <nav class="flex space-x-4">
      <%= link_to "TOP", top_path, class: "hover:underline" %>
      <%= link_to t(".sentence_new"), new_sentence_path, class: "hover:underline" %>
      <%= link_to t(".vocabulary_new"), new_vocabulary_path, class: "hover:underline" %>
      <%= link_to t(".sentence_index"), sentences_path, class: "hover:underline" %>
      <%= link_to t(".vocabulary_index"), vocabularies_path, class: "hover:underline" %>
      <%= link_to t(".tag_edit"), tags_path, class: "hover:underline" %>
      <%= link_to t(".bookmark"), bookmarks_path, class: "hover:underline" %>
    </nav>
    <nav class="flex space-x-4">
      <%= link_to t(".user_show"), edit_user_registration_path, class: "hover:underline" %>
      <%= link_to t(".logout"), destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: t(".confirm_logout") }, class: "hover:underline" %>
    </nav>
  </div>
</header>
