<!DOCTYPE html>
<html>
<head>
  <%# ↓ 更新時にキャッシュを保持して反映が遅くならないように。デバッグ後は消すこと %>
  <%# <meta name="turbo-cache-control" content="no-cache"> %>
  <%# ↑ 更新時にキャッシュを保持して反映が遅くならないように。デバッグ後は消すこと %>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body class="min-h-screen flex flex-col bg-gray-500">
  <% unless controller_name == "sessions" || (controller_name == "users" && action_name == "new") %>
    <%= render "shared/header" %>
  <% end %>

  <main class="flex-grow container mx-auto p-4">
    <%= render "shared/flash" %>
    <%= yield %>
  </main>

  <footer class="bg-gray-100 text-center py-2 text-sm text-gray-500">
    &copy; 2025 Murasaki_67a App
  </footer>
</body>


</html>
